@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
p,h1-h6,span{
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA   ;
}
body>header:first-child{
    background-color: #EC362D;
    height:69px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
body>header:first-child>h1{
    font-size:37px;
    font-weight: 700;
    color:#FFFFFF;
}
body>header:first-child>h1:hover,.quizzes-em-branco>button:hover,.quizz:hover,button:hover,ion-icon:hover,.forms-clicavel:hover{
    cursor:pointer;
    filter: brightness(1.5);
    transform: translateY(2px);
    animation: all linear 500ms;
}
.tela-inicial{
    width: 73%; /*1051px/1440*/
    margin:146px auto 0 auto;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}
.quizzes-em-branco{
    width: 100%;
    height: 181px;
    border:1px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 112px;
}
.quizzes-em-branco>h3{
    color:#B9B9B9;
    word-wrap: break-word;
    font-size: 20px;
    inline-size: 25%;
    text-align: center;
}
.quizzes-em-branco>button>h2{
    color:#EC362D;
    font-size: 21px;
    text-align:center ;
}
.quizzes-em-branco>button{
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 14%;/*151px/1051px*/
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabeçalho-seus-quizzes{
    margin:0 auto 13px auto;
    width:100%;
    display: flex;
    align-items: center;
}
.cabeçalho-seus-quizzes>h4{
    font-size: 20px;
    font-weight: 700;
    margin-right: 17px;
}
.cabeçalho-seus-quizzes>ion-icon{
    font-size: 30px;
    align-items: center;
    color:#EC362D;
}
.quizzes-usuarios-div{
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-bottom: 48px;
}
.quizzes-usuarios-div .quizz{
    margin-right:1.5%;
}
.todos-os-quizzes{
    display: flex;
    flex-direction: column;  
}
.todos-os-quizzes>h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom:14px;
}
.quizzes{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.quizz{
    width: 32%;
    aspect-ratio: 2/1;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.quizz>img,.quiz-banner>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.efeito-gradiente{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, rgba(0,0,0,0.8) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.efeito-gradiente>h3{
   word-wrap: break-word;
   font-size: 19px;
   color:#FFFFFF;
   text-align: left;
   position: absolute;
   width: 100%;
   padding: 0 5%; /*18px/340px*/
   bottom: 11px;
   left:0;
}
.escondido{
    display: none !important;
}

.tela-quiz{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    margin-top:69px;
}
.quiz-banner{
    width: 100%;
    height: 227px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-bottom: 42px; */
}
.efeito-gradiente-banner{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    display:flex;
    justify-content: center;
    align-items: center;
}
.efeito-gradiente-banner>span{
   word-wrap: break-word;
   font-size: 39px;
   color:#FFFFFF;
   text-align: center;
   width: 100%;
}
.quiz-questions{   
    width: 53%;
    margin: 0 auto;
    margin-top: 69px;
    height: fit-content;
}
.quiz-question{
    background-color:#FFFFFF;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}
.quiz-question>h3{
    width: 91%;
    height: 138px;
    margin: 28px auto 20px auto;
    font-size: 23px;
    color:#FFFFFF;
    font-weight: 700;
    justify-content: center;
    display: flex;
    align-items: center;
}
.opcoes-respostas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 91%;
    margin: 0 auto;
}
.opcao{
    width: 48%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.opcao>img{
    height: 175.2px;
    width: 100%;
    margin-bottom: 8px;
    object-fit: cover;
}
.opcao>span{
    font-size: 20px;
    font-weight: 700;
}
opcao>span:first-child, opcao>span:nth-child(2){
    margin-bottom: 19px;
}
.opcao>span:last-child{
    margin-bottom:36px;
}
.efeito-esbranquicado{
    opacity: 0.3!important;
}
.quiz-results.parentNode{
    margin-bottom: 86px;
}
.quiz-results{
    background-color:#FFFFFF;
    width: 53%;
    height: 430px;
    display: flex;
    flex-direction: column;
    margin:42px auto 0 auto;
}
.quiz-results>h3{
    width: 96%;
    height: 99px;
    font-size: 23px;
    background-color:#EC362D;
    color:#FFFFFF;
    font-weight: 700;
    justify-content: center;
    display: flex;
    align-items: center;
    word-wrap: break-word; 
    text-align: center;
}
.quiz-results>div{
    display: flex;
    width: 96%;
    height: 273px;
    margin-top:18px;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.quiz-results>div>img{
    height: 100%;
    width: 50%;
    object-fit: cover;
}
.quiz-results>div>p{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    font-size: 19px;
    font-weight: bold;
    color:#484848;
}
.refazer-quizz{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
    height: 52px;
    margin: 57px auto 16px auto;
    background-color: #EC362D;
    color: #FFF5f4;
    border-radius: 15px;
    font-size: 21px;  
}
.voltar-home{
    text-align: center;
    border: none;
    width: 29%;
    height: 44px;
    font-size: 21px;
    color: #818181; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border-radius: 15px;
}
.tela-de-criar-quizz{
    margin-top: 69px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-de-criar-quizz>h3{
    margin:71px auto 27px auto;
    font-size: 23px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}
.comece-pelo-comeco{
    width: 42%;
    background-color: #FFFFFF;
    margin: 0 auto 85px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding-top: 22px;
}
.comece-pelo-comeco input{
    height: 46px;
    margin: 0 auto 9px auto;
    border: solid 1px #D1D1D1;
    border-radius: 5px;
    width: 94%;
    padding:0 4%;
    font-size: 19px;
}
.comece-pelo-comeco>input:last-child{
    margin-bottom: 22px;
}
input::placeholder, textarea::placeholder{
    font-style: italic;
    font-size: 19px;
    color:#BABABA;
    text-align: left;
}
.criar-perguntas{
    width: 26%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    color:#FFF5F4;
    border-radius: 15px;
    font-size: 21px;
    text-align: center; 
}
.tela-de-gerar-perguntas,.tela-de-gerar-niveis,.tela-de-sucesso-quizz{
    width: 100%;
    margin: 69px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-de-gerar-perguntas>h3{
    margin: 63px auto 36px auto;
    font-size: 23px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}
.forms-perguntas-niveis{
    background-color: #FFFFFF;
    padding: 27px 19px;
    width: 42%;
    margin: 0 auto 24px auto;
    flex-flow: column;
}
.tela-de-gerar-perguntas>form:last-child{
    margin-bottom: 81px;
}
.tela-de-gerar-perguntas form h4,.tela-de-gerar-niveis form h4{
    font-size: 20px;
    font-weight: 700;
    color:#000000;
}
.forms-perguntas-niveis h4:first-child {
    margin-bottom: 12px;
}
.forms-perguntas-niveis h4:nth-child(3) {
    margin-bottom: 24px;
}
.forms-perguntas-niveis h4:nth-child(5) {
    margin-bottom: 14px;
}
.forms-perguntas-niveis input{
    width: 100%;
    margin-bottom: 14px;
    padding:0 4%;
    height: 46px;
    border: 1px Solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
}
.forms-perguntas-niveis input[name="cor-de-fundo"], .forms-perguntas-niveis input[name="url-img-correta"]{
    margin-bottom: 28px;
}
.forms-perguntas-niveis input[name="url-img-1"], .forms-perguntas-niveis input[name="url-img-2"]{
    margin-bottom: 32px;
}
.forms-perguntas-niveis input[name="url-img-3"]{
    margin-bottom: 0;
}
.forms-clicavel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px auto 24px auto;
    background-color: #FFFFFF;
    width: 42%;
    margin-bottom: 22px;
    height: 74px;
    padding: 0 19px;
}
.icone-editar{
    width: 26px;
    height: 23px;
}
.tela-de-gerar-perguntas>form:last-child{
    margin-bottom: 81px;
}
.criar-niveis{
    border-radius: 15px;
    font-size: 21px;
    color:#FFF5F4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    width: 25%;
    height: 54px;
}
.tela-de-gerar-niveis>h3{
    margin: 63px auto 43px auto;
    font-size: 23px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}
.tela-de-gerar-perguntas>form:last-child{
    margin-bottom: 75px;
}
textarea{
    resize: vertical;
    max-height:177px;
    min-height: 46px;
    width: 100%;
}
.forms-perguntas-niveis textarea{
    width: 100%;
    margin-bottom: 0;
    padding:2% 4%;
    height: 46px;
    border: 1px Solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
}
.finalizar-quizz{
    border-radius: 15px;
    font-size: 21px;
    color:#FFF5F4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    width: 23%;
    height: 54px;
}
.tela-de-sucesso-quizz>h3{
    margin: 71px auto 46px auto;
    font-size: 23px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}
.finalizacao-quizz-usuario{
    width: 35%;
    margin: 0 auto 45px auto;
    height: 266px;
    position: relative;
}
.efeito-gradiente-sucesso-quizz{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, rgba(0,0,0,0.8) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.finalizacao-quizz-usuario .efeito-gradiente-sucesso-quizz>h3{
    font-size: 23px;
    color:#FFFFFF;
    text-align: left;
    position: absolute;
    width: 100%;
    padding: 0 5%; /*18px/340px*/
    bottom: 11px;
    left:0;
    vertical-align: center;
 }
 .acessar-quizz{
    width: 15%;
    height: 44px;
    border-radius: 15px;
    background-color: #EC362D;
    color:#FFF5F4;
    font-size: 21px;
    text-align: center;
    margin: 0 auto 9px auto;
 }
 .voltar-home-sucesso-quiz{
    text-align: center;
    border: none;
    width: 15%;
    height: 44px;
    font-size: 21px;
    color: #818181; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border-radius: 15px;
}
.finalizacao-quizz-usuario img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width:1100px){
    .tela-inicial{
        width: 91%; /*340px/375*/
        margin:100px auto 0 auto;
    }
    .quizzes-em-branco>h3{
        inline-size: 75%;
    }
    .quizzes-em-branco>button{
        width: 44%;/*151px/340px*/
    }
    .todos-os-quizzes{  
        margin-top: 35px;
    }
    .quizzes{
        flex-direction: column;
        align-items: center;
    }
    .quizz{
        width: 100%;
        margin-bottom: 14px;
    }
    .quiz-banner{
        height: 142px;
        margin-bottom: 0;
    }
    .efeito-gradiente-banner>span{
       font-size: 19px;
    }
    .quiz-results.parentNode{
        margin-bottom: 66px;
    }
    .quiz-questions{
        width: 100%;
        margin-top: 24px;
    }
    .quiz-question{
        margin-bottom:30px;
    }
    .quiz-question>h3{
        height: 89px;
        margin: 18px auto 13px auto;
        font-size: 19px;
    }
    .opcao{
        width: 48%;
        margin-bottom: 0px;
    }
    .opcao>img{
        height: 113px;
        margin-bottom: 5px;
    }
    .opcao>span{
        font-size: 13px;    
    }
    opcao>span:first-child, opcao>span:nth-child(2){
        margin-bottom: 12px;
    }
    .opcao>span:last-child{
        margin-bottom:23px;
    }
    .quiz-results{
        width: 100%;
        height: fit-content;
        margin:24px auto 0 auto;
    }
    .quiz-results>h3{
        width: 91%;
        margin: 22px auto;
        font-size: 19px;
        margin: 18px auto 9px auto;
    }
    .quiz-results>div{
        width: 91%;
        height: fit-content;
        flex-direction: column;
        margin:0 auto;  
    }
    .quiz-results>div>img{
        height: 255px;
        width: 100%;
        margin:0 auto 9px auto;
    }
    .quiz-results>div>p{
        width: 100%;
        font-size: 17px;
        margin:0 auto 14px auto;
    
    }
    .refazer-quizz{
        width: 59%;
        height: 44px;
        margin: 34px auto 8px auto;
        border-radius: 15px;
        font-size: 18px;  
    }
    .voltar-home{
        width: 59%;
        height: 44px;
        font-size: 18px;
        color: #818181; 
        margin: 0 auto; 
        background-color: none;
    }
    .tela-de-criar-quizz>h3{
        margin:37px auto 29px auto;
        font-size: 20px;
        width: 52%;
    }
    .comece-pelo-comeco{
        width: 100%;
        margin: 0 auto 29px auto;
        padding-top: 21px;
    }
    .comece-pelo-comeco input{
        margin: 0 auto 9px auto;
    }
    .comece-pelo-comeco>input:last-child{
        margin-bottom: 24px;
    }
    .criar-perguntas{
        width: 95%;
        font-size: 18px;
    }
    .tela-de-gerar-perguntas>h3{
        margin: 38px auto 29px auto;
        font-size: 20px;
    }
    .forms-perguntas-niveis{
        width: 100%;
        padding: 27px 17px;
    }
    .tela-de-gerar-perguntas>form:last-child{
        margin-bottom: 46px;
    }
    .forms-clicavel{
        width: 100%;
    }
    .icone-editar{
        width: 26px;
        height: 25px;
    }
    .tela-de-gerar-perguntas>form:last-child{
        margin-bottom: 46px;
    }
    .criar-niveis{
        font-size: 18px;
        width: 87%;
    }
    .tela-de-gerar-niveis>h3{
        margin: 39px auto 28px auto;
        font-size: 20px;
    }
    .tela-de-gerar-perguntas>form:last-child{
        margin-bottom: 28px;
    }
    textarea{
        min-height:177px;
        min-height: 250px;
    }
    .finalizar-quizz{
        font-size: 18px;
        color:#FFF5F4;
        width: 87%;
    }
    .tela-de-sucesso-quizz>h3{
        margin: 39px auto 29px auto;
        font-size: 20px;
    }
    .finalizacao-quizz-usuario{
        width: 91%;
        margin: 0 auto 24px auto;
        height: 181px;
        position: relative;
    }
    .finalizacao-quizz-usuario .efeito-gradiente-sucesso-quizz>h3{
        font-size: 19px;
    }
    .acessar-quizz{
        width: 59%;
        font-size: 18px;
    }
     .voltar-home-sucesso-quiz{
        width: 59%;
        font-size: 18px;
    }
    .cabeçalho-seus-quizzes{
        margin:0 auto 16px auto;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .cabeçalho-seus-quizzes>h4{
        font-size: 20px;
        font-weight: 700;
    }
    .quizzes-usuarios-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        overflow-x:hidden;
    }
    .quizzes-usuarios-div .quizz{
        margin-right:0;
    }
}


